<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>
        SecureNote
    </title>
    <link href="{% static 'css/bootstrap-3-dist/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <h2 class="page-header text-center">
            Welcome to SecureNote
        </h2>
    </div>
    {% if only_preview %}
    <div class="row">
        <h4>Read and destroy?</h4>
        <h5 class="text-danger">
            You're about to read and destroy the note
        </h5>
        <br>
        <div class="col-md-4">
        <a href="{% url 'secure_note_preview' noteid %}?show_me=true">
            <button class="btn btn-primary">
                Yes, show me the note
            </button>
        </a>
            </div>
    </div>


    {% else %}
    {% if recordexists %}
    <div class="row">
        <h3>
            Note contents <br>
        </h3>

        <div>
            <h4 class="text-danger">This note was destroyed. If you need to keep it, copy it before closing this window.</h4>
        </div>
        <div>
            <textarea readonly="" class="" id="note_contents" rows="4" style="width: 800px; height: 200px;">
                {{ message }}
            </textarea>
        </div>
    </div>

    {% else %}

    <div class="row">
        <h3 class="text-danger">
            {{ message }}
        </h3>

    </div>


    {% endif %}
    {% endif %}
    <br>
<div class="row">
    <div class="col-md-4">
<a href="{% url 'secure_note_base' %}">
            <button class="btn btn-primary">
                Create Note
            </button>
        </a>
    </div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


</body>

</html>